*{
    margin: 0;
    padding: 0;
}
.btn {
        display:block;
        height: 40px;
        width: 90px;
        border-radius: 50px !important;
        margin-left: 225px;        
        }
.container .row .col-md-7{
    background-image: url(/images/Group\ 15.png);
    background-color: blue;
    height: 100vh;
    background-repeat: no-repeat;
    border-bottom-right-radius:1000px;

}

.right{
    border: solid black;
    display:flex;
    padding: 15px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

.row-2 .rounded-button{
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    text-decoration: none;

}

.form-check-label{
   /* text-align: center; */
   margin-left: 168px;
}

h1{
    color: white;
    padding: 0px !important;
    font-size: 25px !important;
    text-align: center;
}

h2{
    color: white;
    padding: 0px !important;
    font-size: 25px !important;
}

.btn-outline-primary{
    margin-left: 325px !important;
    color: white !important;
}

.sign-in-text{
    font-size: 60px;
    margin-left: 330px;
    font-weight: bold;
}